#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/*  */

body {
  margin: 0;
  font-family: "inter", sans-serif;
  font-weight: lighter;
  box-sizing: border-box;
}

.hero {
  background-image: url("images/plant.jpg");
  width: 100vw;
  margin: 0;
  padding: 0;
  background-size: cover;
  height: 30rem;
}

.hero>h1 {
  color: black;
  font-size: 1.5em;
  text-align: left;
  padding: 2rem;
}

.card-section {
  background-color: white;
  width: 100vw;
  min-width: 30rem;
  height: 100rem;
  color: black;
  /* display: flex;
  flex-direction: column; */
  text-align: left;
  padding: 2rem;
}

.card-section>h3 {
  font-size: 5em;
}

.brief-card {
  display: flex;
  flex-direction: column;
}

.brief-card>img {
  width: 25rem;
  height: 40rem;
  border-radius: 50% / 30%;
  margin-top: 5rem;
}

@media(min-width: 500px) {
  .brief-card {
    display: flex;
    flex-direction: row;
  }
}
