.about-container.navbar {
    color: black;
    background-color: black;
}

.about-container {
    margin-top: 5rem;
    margin-bottom: 3rem;
}

#altruism {
    font-weight: 700;
    text-decoration: underline;
}

p {
    text-align: left;
    font-weight: 300;
    padding-top: 1rem;
}

.about-text-container {
    width: 90%;
    margin: auto;
    padding-bottom: 1.5rem;
    
}

.about-img {
    width: 90%;
    border-radius: 10px;
}