.about-container.navbar {
    color: black;
    background-color: transparent;
}

.about-container {
    margin-bottom: 3rem;
}

.about-hero {
    background-image: url("/images/wellness.jpg");
    background-size: 150%; 
    background-position: center;
    height: 35rem;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-hero h1 {
    color: white;
    font-size: 2.7em;
    font-weight: 400;
    text-align: center;
  }

#altruism {
    font-weight: 500;
    background-color: black;
}

.about-text-container {
    width: 90%;
    margin: auto;
    padding-bottom: 1.5rem;
    display: block;
}

.about-text-container p {
    text-align: left;
    font-weight: 300;
    padding-top: 1rem;
    line-height: 1.3;
}

.about-img {
    width: 100vw;
}