.contact-container {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.contact-img {
    border-radius: 3%;
    width: 90%
}

.contact-details {
    text-align: left;
    padding-left: 2rem;
    padding-top: 2rem;
    font-weight: 300;
}

.bold {
    font-weight: 600;
}