.contact-container {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

h1 {
    font-size: 2em;
    padding: 1rem;
}

.map {
    padding: 2rem;
}

input, textarea {
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid black;
    padding: 0.3rem;
}

textarea {
    width: 20rem;
    height: 10rem;
}

.contact-form>label {
    font-weight: 300;
}

label {
    font-size: 0.8em;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit-btn {
    border: 1px solid black;
    border-radius: 10px;
    padding: 0.5rem;
    width: 8rem;
    font-weight: 400;
    background-color: black;
    color: white;
    margin-top: 1rem;
    transition: background-color 0.5s, color 0.5s, border 0.5s; 
}
.submit-btn:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
}

.contact-form-container {
    padding-bottom: 3rem;
}

.contact-img {
    border-radius: 3%;
    width: 90%
}

.contact-details {
    text-align: left;
    padding-left: 2rem;
    padding-top: 2rem;
    font-weight: 300;
}

.bold {
    font-weight: 600;   
}

.contact-details-containers {
    margin-top: 2rem;
}

p {
    margin: 0.5rem 0;
    line-height: 1;
}