/* Hero section */

.hero {
    background-image: url("images/plant.jpg");
    background-size: 150%; 
    background-position: center;
    height: 35rem;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    gap: 1rem;
  }
  
  .hero>h1 {
    color: white;
    font-size: 2em;
    padding-left: 2rem;
    width: 30rem;
  }
  
  .hero>h3 {
    color: white;
    font-size: 1em;
    font-weight: 400;
    padding-left: 2rem;
    width: 27rem;
  }
  
  #learnmore-btn {
    color: white;
    background-color: transparent;
    border: 1.5px solid white;
    border-radius: 30px;
    padding: 0.3rem 3.5rem 0.3rem 3.5rem;
    width: 15rem;
    margin-left: 2rem;
    transition: 0.5s;
  }
  
  #learnmore-btn:hover {
    background-color: white;
    color: black;
    border: none;
    /* transition: 1s; */
  }
  
  /* Card section */
  
  .card-section {
    background-color: white;
    width: 100%;
    height: 100%;
    color: black;
    /* display: flex;
    flex-direction: column; */
    text-align: left;
    padding: 2rem;
    box-sizing: border-box;
  }
  
  .brief-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  
  .brief-card>div>h2 {
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 1rem;
  }
  
  .brief-card>div>h3 {
    font-size: 1em;
    font-weight: 300;
  }
  
  .brief-card>img {
    border-radius: 50% / 35%;
    height: 40rem;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 3rem;
  }

  .brief-card-img {
    background-image: url(/images/home-img2.jpg);
    background-size: 100%;
    border-radius: 50% / 35%;
    height: 40rem;
    width: auto;
    max-width: 100%;
    max-height: 100%;
  }

  /* Wellness section */

  .wellness-section {
    background-image: url("/images/wellness.jpg");
    background-size: 120%;
    background-repeat: no-repeat;
    background-position-y: 100%;
    width: 100%;
    height: 35rem;
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: center;
    align-items: center;  
  } 

    .wellness-section h2 {
    color: white;
    text-align: center;
    width: 95%;
    font-size: 2.4em;
    font-weight: 400;
  }
  
  /* Desktop */
  
  @media(min-width: 900px) {
    .brief-card {
      display: flex;
      flex-direction: row;
    }
    .hero {
      padding-left: 5rem;
      height: 100vh;
      gap: 1.5rem;
    }
    .hero>h1 {
      font-size: 3em;
      width: 50rem;
      margin-bottom: -0.5rem;
    }
    .hero>h3 {
      font-size: 1.1em;
      width: 40rem;
    }
    .brief-card {
      align-items: center;
      gap: 5rem;
      
    }
    .brief-card-text {
      width: 50%;
      margin-left: 5rem;
    }
    .brief-card .brief-card-img {
      width: 35rem;
      height: 50rem;
      margin-right: 5rem;
    }
    .reverse-card {
      flex-direction: row-reverse; 
      padding: 0 5rem 0 5rem;
    }
  }