.back-to-top-btn {
    width: 6rem;
    height: 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color:  #ffffff;
    font-weight: 600;
    font-size: 0.9em;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

.back-to-top-btn:hover {
    cursor: pointer;
}