.back-to-top-btn {
    width: 6rem;
    height: 2rem;
    box-shadow: 5px 5px 5px 5px #0000001a;
    background-color:  #ffffff;
    font-weight: 600;
    font-size: 0.9em;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

.back-to-top-btn:hover {
    cursor: pointer;
}