/* Email section */

.email-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.email-section>h4 {
    margin-bottom: 1rem;
    font-size: 2em;
}

#email-input {
    border: #2c2c2c 2px solid;
    border-radius: 30px;
    background-color: transparent;
    color: black;
    padding: 0.3rem 1.5rem 0.5rem 1rem;
    width: 17rem;
    margin-bottom: 0.3rem;
}

button {
    border: #2c2c2c 2px solid;
    border-radius: 30px;
    background-color: transparent;
    color: black;
    padding: 0.3rem 1.5rem 0.5rem 1.5rem;
    width: 10rem;
    transition: background-color 0.5s, color 0.5s, border 0.5s; 
}

button:hover {
    background-color: #1d1d1d;
    color: white;
    border: #2c2c2c 2px solid;
    transition: 0.5s;
}

/* Social section */

.social-section {
    margin-bottom: 3rem;
    color: #2c2c2c;
    font-weight: 300;
}

/* Copyright section */

.copyright-section>p {
    margin-top: -1rem;
    font-size: 0.8em;
}