.navbar {
    border-bottom: 1px solid #2c2c2c;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 2px 5px #0000001a;
}

.navbar-brand {
    margin-left: 1.5rem;
}

.navbar-toggler {
    background-color: transparent;
}
.navbar-toggler:focus {
    box-shadow: none;
}
.navbar-toggler:hover {
    background-color: transparent;
}

.navbar-toggler-icon {
    margin-left: 6rem;
}

.navbar-nav {
    gap: 1rem;
    font-size: 1.5em;
}

.navbar-link{
    color: black;
    text-decoration: none;
}

.navbar-link:hover{
    
}