.navbar {
    border-bottom: 1px solid white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 0 2px 5px #0000001a;
    box-sizing: border-box;
}

.navbar-white {
    background-color: #fcfcfc; 
    transition: background-color 0.3s ease-in-out; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    border-bottom: 1px solid black;
}

.navbar-brand {
    margin-left: 1.5rem;
    font-weight: 300;
    color: white;
}

.navbar-brand-black {
    color: black;
}

.navbar-toggler {
    background-color: transparent;
    color: white;
    border: none;
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}
.navbar-toggler:focus {
    box-shadow: none;
    border: none;
}
.navbar-toggler:hover {
    background-color: transparent;
    border: none;
}

.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"%3E%3Cpath stroke="white" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 6rem;
    margin: 0; 
    width: 1.5rem; 
    height: 1.5rem;
}

.navbar-toggler-black .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-nav {
    gap: 1.5rem;
    font-size: 1.5em;
    background-color: #fcfcfc; 
    padding: 1rem;
}

.navbar-link{
    color: #161616;
    text-decoration: none;
    font-weight: 400;
}
.navbar-link:hover{
    color: #7c7c7c;
    transition: 0.3s;
}

.navbar-link-black {
    color: black;
    text-decoration: none;
    font-weight: 400;
}
.navbar-link-black:hover {
    color: #7c7c7c;
    transition: 0.5s;
}

/* Desktop */

@media(min-width: 900px) {
    .navbar {
        height: 4rem;
        gap: 52rem;
    }
    .navbar-nav {
        background-color: transparent;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
        list-style: none;
        gap: 2.5rem; 
    }
    .navbar .navbar-link {
        color: #ffffff;
        font-size: 0.7em;
        font-weight: 400;
    }
    .navbar .navbar-link:hover {
        color: #dbdbdb;
    }
    .navbar-link-black {
        font-size: 0.7em;
        font-weight: 400;
    }
    .navbar-brand {
        display: flex;
        margin-right: 90%;
        font-size: 1.5rem;
        text-decoration: none;
    }
}  